<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pocket Disco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="/static/html_log.js"></script>
    <script src="/static/player.js"></script>
</head>
<body>
<input id="load" onclick="loadButtonTapped()" type="button" value="Load"/>
<input id="play" onclick="buttonTapped()" type="button" value="Play"/>
<br/>
<label for="checkUseWhiteNoise">
    <input id="checkUseWhiteNoise" type="checkbox"/>
    Start Session on Download
</label>

<div id="log">
    <br/>
    <b>Log</b> <br/>
    <div id="divLog" style="overflow-y: scroll; height:200px;"></div>
</div>
</body>
</html>